
*{
	padding: 0;
	margin: 0;
}
/*------------------------------------------------------------First section-------------------------------*/
.first{
	height: 45vh;
	/*padding-top: 20px;*/
	
}

/*------------------------------------------------------------------------Second section-------------------------------*/
.second{
	height: 40vh;
	/*padding-top: 20px;*/
	
}
	
/*------------------------------------------------------------------------third section----------------------------------*/
.third{
	
	/*background-color: #333;*/
	height: auto;
	
	}

/*----------------------------------------------------------------------Fourth section-------------------------------------*/

 /*----------------------------------------------------------------------fivth section--------------------------------------*/
.section5{
	
	height: 50vh;
	/*padding-top: 25px;*/
}


/*--------------------------------------------------------------------------End-----------------------------------------------*/














